<div class="container-fluid px-0">

    <div class="landing-carousel-container">
        <div id="landingCarousel" class="carousel slide h-100" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner h-100">
                <div class="carousel-item active">
                    <img src="images/DSC00139.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Slide 1">
                    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center mt-5">
                        <h1 class="text-white display-1 text-uppercase sb-ls-6 responsive-header sb-fw-500">Vôňa a
                            čistota pre vašu klimatizáciu</h1>
                        <!-- <h2 class="text-white display-6 text-uppercase sb-ls-6 fst-italic responsive-header">„Vylaďte svoju klimatizáciu
                            praktickým
                            doplnkom a doprajte si sviežu vôňu každý deň."</h2> -->
                        <div class="d-flex gap-3 mt-3">
                            <!-- <button class="sb-btn-black">Learn More</button> -->
                            <a class="btn btn-accent" href="/obchod">Kúpiť teraz</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/DSC00143.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Slide 2">
                    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center mt-5">
                        <h1 class="text-white display-1 text-uppercase sb-ls-6 responsive-header sb-fw-500">Prémiový
                            osviežovač vzduchu s čistiacou silou aktívneho uhlia </h1>
                        <!-- <h2 class="text-white display-6 text-uppercase sb-ls-6 fst-italic responsive-header">„Osviežte vzduch aj náladu –
                            praktický doplnok ku klimatizácii, ktorý rozvonia celý domov."</h2> -->
                        <div class="d-flex gap-3 mt-3">
                            <!-- <button class="sb-btn-black">Learn More</button> -->
                            <a class="sb-btn-white" href="/obchod">Kúpiť teraz</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#landingCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#landingCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <sb-shop [asComponent]="true"></sb-shop>


    <sb-about [asComponent]="true"></sb-about>
</div>