<div class="container-fluid py-3 bg-black text-light">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <a class="navbar-brand fw-bold sb-brand p-0 m-0 d-inline-block sb-ls-4" href="#">
                    <span class="d-block">eSBee</span>
                    <span class="sb-brand-secondary d-block sb-ls-3">super pekny text</span>
                    <span class="sb-brand-secondary d-block sb-ls-3">est. 2025</span>
                </a>
            </div>
        </div>

        <hr class="text-light">

        <div class="row text-uppercase mb-lg-5">
            <!-- Contact -->
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Contact</h6>
                <p class="sb-fs-13 text-capitalize mb-1">A: Seestrasse 21, Zurich, CH</p>
                <p class="sb-fs-13 mb-1">T: +417 17 4178 88</p>
                <p class="sb-fs-13 mb-1">askka&#64;qodeinteractive.com</p>
                <p class="sb-fs-13 mb-0">IG _askkacandleshop</p>
            </div>

            <!-- Services -->
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Services</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1">Exclusive offers</li>
                    <li class="sb-fs-13 mb-1">Gifts</li>
                    <li class="sb-fs-13 mb-1">Store location</li>
                    <li class="sb-fs-13 mb-1">Corporate sales</li>
                </ul>
            </div>

            <!-- Orders -->
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Orders</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1">My account</li>
                    <li class="sb-fs-13 mb-1">Delivery information</li>
                    <li class="sb-fs-13 mb-1">Track my order</li>
                    <li class="sb-fs-13 mb-1">Help</li>
                </ul>
            </div>

            <!-- Most Popular -->
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Most Popular</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1">Bergamot Collection</li>
                    <li class="sb-fs-13 mb-1">Hulie divine</li>
                    <li class="sb-fs-13 mb-1">La note de Paris</li>
                    <li class="sb-fs-13 mb-1">Pachouli Home</li>
                </ul>
            </div>
        </div>

        <!-- Subscribe -->
        <div class="row text-center mb-4">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                <h6 class="fw-bold text-uppercase mb-3">Follow us & subscribe</h6>
                <div class="d-flex justify-content-between align-items-center pb-2 mb-3">
                    <input type="email" class="form-control" placeholder="Enter your e-mail address here">
                    <button
                        class="btn btn-link text-light text-uppercase fw-bold px-3 text-decoration-none">Send</button>
                </div>
                <div class="row text-uppercase small sb-ls-2">
                    <div class="col">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Facebook</a>
                    </div>
                    <div class="col">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Instagram</a>
                    </div>
                    <div class="col">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Youtube</a>
                    </div>
                    <div class="col">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="text-light">

        <!-- Bottom links -->
        <div class="row">
            <div class="col-md-6 text-center">
                <p class="small mb-1">© 2021 Qode Interactive, All Rights Reserved</p>
            </div>
            <div class="col-md-6 text-center">
                <p class="mb-1">
                    <a href="#" class="text-light me-3">Terms of Use</a>
                    <a href="#" class="text-light">Privacy</a>
                </p>
            </div>

        </div>
    </div>
</div>