<div class="container-fluid py-3 bg-black text-light">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <a class="navbar-brand" href="#">
                    <img src="logo/esbee-logo.png" alt="Logo" class="img-fluid">
                </a>
            </div>
        </div>

        <hr class="text-light">

        <div class="row text-uppercase mb-lg-5">
            <!-- Contact -->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">O nás</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1 d-flex align-items-center">O eSbee</li>
                    <li class="sb-fs-13 mb-1 d-flex align-items-center">Kontaktujte nás</li>
                    <hr class="text-light">
                    <li class="sb-fs-13 mb-1 d-flex align-items-center">
                        <span class="material-symbols-outlined sb-icon-outlined sb-fs-20 me-2">home</span>
                        <span>Pekná adresa 43, 123 45 Bratislava</span>
                    </li>
                    <li class="sb-fs-13 mb-1 d-flex align-items-center">
                        <span class="material-symbols-outlined sb-icon-outlined sb-fs-20 me-2">call</span>
                        <span>+421 123456789</span>
                    </li>
                    <li class="sb-fs-13 mb-1 d-flex align-items-center">
                        <span class="material-symbols-outlined sb-icon-outlined sb-fs-20 me-2">alternate_email</span>
                        <span>doplnit&#64;doplnit.com</span>
                    </li>

                </ul>
            </div>

            <!-- Services -->
            <!-- <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Služby</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1">Exclusive offers</li>
                    <li class="sb-fs-13 mb-1">Gifts</li>
                    <li class="sb-fs-13 mb-1">Store location</li>
                    <li class="sb-fs-13 mb-1">Corporate sales</li>
                </ul>
            </div> -->

            <!-- Orders -->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Informácie o nákupe</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1">Ako nakupovať</li>
                    <li class="sb-fs-13 mb-1">Možnosti doručenia</li>
                    <li class="sb-fs-13 mb-1">Možnosti platby</li>
                    <li class="sb-fs-13 mb-1">Reklamácie a vrátenia</li>
                    <li class="sb-fs-13 mb-1">Sledovanie objednávky</li>
                    <li class="sb-fs-13 mb-1">Darčekové poukazy</li>
                    <li class="sb-fs-13 mb-1">FAQ – Často kladené otázky</li>
                </ul>
            </div>

            <!-- Most Popular -->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h6 class="fw-bold sb-ls-2">Právne informácie</h6>
                <ul class="list-unstyled mb-0">
                    <li class="sb-fs-13 mb-1">Obchodné podmienky</li>
                    <li class="sb-fs-13 mb-1">Ochrana osobných údajov</li>
                    <li class="sb-fs-13 mb-1">Použitie cookies</li>
                    <li class="sb-fs-13 mb-1">Právne upozornenie</li>
                </ul>
            </div>
        </div>

        <!-- Subscribe -->
        <div class="row text-center mb-4">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                <h6 class="fw-bold text-uppercase mb-3">Sociálne siete / Newsletter </h6>
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center pb-2 mb-3">
                    <input type="email" class="form-control mb-2 mb-md-0 input-mail"
                        placeholder="Sem zadajte svoju e-mailovú adresu">
                    <button
                        class="btn btn-outline-accent text-accent text-uppercase fw-bold px-3 p-0 text-decoration-none w-md-auto">potvrdiť</button>
                </div>
                <div class="row text-uppercase small sb-ls-2">
                    <div class="col mb-3">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Facebook</a>
                    </div>
                    <div class="col mb-3">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Instagram</a>
                    </div>
                    <div class="col mb-3">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Youtube</a>
                    </div>
                    <div class="col mb-3">
                        <a href="#" class="text-light text-decoration-none sb-fw-600">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="text-light">

        <!-- Bottom links -->
        <div class="row">
            <div class="col text-center">
                <p class="small mb-1">© 2025 esbee.com, všetky práva vyhradené</p>
            </div>
            <!-- <div class="col-md-6 text-center">
                <p class="mb-1">
                    <a href="#" class="text-light me-3">Terms of Use</a>
                    <a href="#" class="text-light">Ochrana osobných údajov</a>
                </p>
            </div> -->

        </div>
    </div>
</div>