<div class="empty-cart text-center py-5">
    <span class="material-symbols-outlined display-1 text-muted mb-3">shopping_cart</span>
    <h3 class="text-muted mb-3">Váš košík je prázdny</h3>
    <p class="text-muted mb-4">Pridajte si do košíka naše krásne vône pre klimatizáciu</p>
    <a href="/obchod" class="btn btn-accent btn-lg ">
        <div class="cc-flex-center">
            <span class="material-symbols-outlined me-2">shopping_bag</span>
            Nakupovať
        </div>
    </a>
</div>