.sb-fs-12 {
    font-size: 12px;
}

.sb-fs-13 {
    font-size: 13px;
}

.sb-fs-14 {
    font-size: 14px;
}

.sb-fs-15 {
    font-size: 15px;
}

.sb-fs-16 {
    font-size: 16px;
}

.sb-fs-18 {
    font-size: 18px;
}

.sb-fs-20 {
    font-size: 20px;
}

.sb-fs-22 {
    font-size: 22px;
}

.sb-fs-24 {
    font-size: 24px;
}

.sb-fs-28 {
    font-size: 28px;
}

.sb-fs-32 {
    font-size: 32px;
}

.sb-fs-36 {
    font-size: 36px;
}

.sb-fs-40 {
    font-size: 40px;
}

.sb-fs-48 {
    font-size: 48px;
}

.sb-fs-56 {
    font-size: 56px;
}

.sb-fs-64 {
    font-size: 64px;
}


.sb-fw-100 {
    font-weight: 100;
}

.sb-fw-200 {
    font-weight: 200;
}

.sb-fw-300 {
    font-weight: 300;
}

.sb-fw-400 {
    font-weight: 400;
}

.sb-fw-500 {
    font-weight: 500;
}

.sb-fw-600 {
    font-weight: 600;
}

.sb-fw-700 {
    font-weight: 700;
}

.sb-fw-800 {
    font-weight: 800;
}

.sb-fw-900 {
    font-weight: 900;
}


.sb-ls-0 {
    letter-spacing: 0px;
}

.sb-ls-1 {
    letter-spacing: 1px;
}

.sb-ls-2 {
    letter-spacing: 2px;
}

.sb-ls-3 {
    letter-spacing: 3px;
}

.sb-ls-4 {
    letter-spacing: 4px;
}

.sb-ls-5 {
    letter-spacing: 5px;
}
.sb-ls-6 {
    letter-spacing: 6px;
}
.sb-ls-7 {
    letter-spacing: 7px;
}
.sb-ls-8 {
    letter-spacing: 8px;
}
.sb-ls-9 {
    letter-spacing: 9px;
}
.sb-ls-10 {
    letter-spacing: 10px;
}